@import "tailwindcss";

.active {
   color: yellow;
}

/* Hide scrollbar for elements with class "scrollbar-hidden" */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.dragover {
  border-color: #facc15;      /* yellow border */
  background-color: #fef9c3;  /* light yellow background */
  transition: all 0.2s ease;  /* smooth animation */
}

